@font-face { // 400
  font-family: "PlayfairDisplay400";
  src: local("PlayfairDisplay400"), url(PlayfairDisplay-Regular.ttf) format("truetype");
}
@font-face { // 700
  font-family: "PlayfairDisplay700";
  src: local("PlayfairDisplay700"), url(PlayfairDisplay-Bold.ttf) format("truetype");
}
@font-face { // 800
  font-family: "PlayfairDisplay800";
  src: local("PlayfairDisplay800"), url(PlayfairDisplay-ExtraBold.ttf) format("truetype");
}
