@font-face {
  font-family: "PlayfairDisplayRegular";
  src: local("PlayfairDisplayRegular"), url(PlayfairDisplay-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "PlayfairDisplayBold";
  src: local("PlayfairDisplayRegular"), url(PlayfairDisplay-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "PlayfairDisplayExtraBold";
  src: local("PlayfairDisplayExtraBold"), url(PlayfairDisplay-ExtraBold.ttf) format("truetype");
}
