@font-face {
  // 400
  font-family: "Poppins400";
  src: local("Poppins400"), url(Poppins-Regular.ttf) format("truetype");
}
@font-face {
  // 500
  font-family: "Poppins500";
  src: local("Poppins500"), url(Poppins-Medium.ttf) format("truetype");
}
@font-face {
  // 600
  font-family: "Poppins600";
  src: local("Poppins600"), url(Poppins-SemiBold.ttf) format("truetype");
}
@font-face {
  // 700
  font-family: "Poppins700";
  src: local("Poppins700"), url(Poppins-Bold.ttf) format("truetype");
}
