@font-face {
  font-family: "PoppinsRegular";
  src: local("PoppinsRegular"), url(Poppins-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "PoppinsSemiBold";
  src: local("PoppinsSemiBold"), url(Poppins-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "PoppinsBold";
  src: local("PoppinsBold"), url(Poppins-Bold.ttf) format("truetype");
}
